repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json

- repo: https://github.com/yelp/detect-secrets
  rev: v1.4.0
  hooks:
  - id: detect-secrets
    args: ['--baseline', '.secrets.baseline' ,'--exclude-files', '^tests/.*']

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-imports

- repo: https://github.com/golangci/golangci-lint
  rev: v2.9.0
  hooks:
  - id: golangci-lint

- repo: local
  hooks:
  - id: unittests
    name: Run API Unit Tests
    entry: make run-test-image
    language: system
    pass_filenames: false
